.month-calendar {
    background-color: var(--background-color-objects);
    padding: 10px;
}

.month-calendar .days, .month-calendar .days-names {
    max-width: 800px;
    display: grid;
    grid-template-columns: repeat(7, auto);
    grid-gap: 1px;
    overflow: scroll;
}

h1 {
    margin: 5px;
}

h3 {
    margin: 0;
}

.calendar-info {
    height: fit-content;
}

.hidden {
    display: none;
}

.month-header {
    display: flex;
    justify-content: space-between;
}

.month-header * {
    width: max-content;
}
