body {
  background-color: #484848;
  overflow-x: hidden;
  font-size: calc(10px + 2vmin);
  display: flex;
  justify-content: center;
  color: white;
}

* {
  box-sizing: border-box;
}

.main {
  display: flex;
}

.main-content {
  margin-top: 40px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

.center-block {
  display: block;
  padding: 10px;
  border-radius: 10px;
  background-color: #3b3b3b;
  text-align: center;
  align-content: center;
  align-items: center;
  justify-content: center;
}